<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:)</title>
</head>
<body th:align="center">
<div th:replace="fragments/global :: header"></div>
<p>About page</p>
<button><a th:href="@{/astrid}">Get to know Astrid</a></button>
<button><a th:href="@{/felicia}">Get to know Felicia</a></button>
<button><a th:href="@{/robin}">Get to know Robin</a></button>

<div th:replace="fragments/global :: footer"></div>

</body>
</html>
