<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:)</title>
</head>
<body th:align="center">
<form action="#" th:action="@{/new}" method="post">
  <!--  <input type="text" th:value="${prod.productcode}" name="productcode" hidden="hidden">-->
  <button type="submit">I'm here for the first time.</button>
  <!--            &nbsp;&nbsp;&nbsp;-->
</form>
<form action="#" th:action="@{/login}" method="post">
  <!--  <input type="text" th:value="${prod.productcode}" name="productcode" hidden="hidden">-->
  <button type="submit">I'm back for more!</button>
  <!--            &nbsp;&nbsp;&nbsp;-->
</form>
</body>
</html>
