<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>:)</title>
</head>
<body th:align="center">
<div th:replace="fragments/global :: header"></div>
<div th:align="center">
    <button type="button"><a th:href="@{/all}">All products!</a></button>
    <button type="button"><a th:href="@{/lines}">Show me product lines!</a></button>
<hr />
</div>

<table border="1" cellpadding="5" th:align="center">
    <caption>Our most popular products!</caption>
    <thead>
    <tr>
        <th>IMG</th>
        <th>Product</th>
        <th>Line</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="prod : ${products}">
        <td><img th:src="@{${'/img/cars/' + prod.productcode + '.png'}}" width="50px"  alt="product img" src="#"/></td>
        <td th:text="${prod.productname}">Name</td>
        <td th:text="${prod.productline}">Line</td>
        <td th:text="${prod.msrp}">Price</td>
        <td>
            <form action="#" th:action="@{'/add/' + ${prod.productcode}}"  method="post">
                <button type="submit">This I Want!</button>
            </form>

            <button type="button"><a th:href="@{'/details/' + ${prod.productcode}}">More...</a></button>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="fragments/global :: footer"></div>

</body>
</html>
